@import url(//db.onlinewebfonts.com/c/794e572cce05ab25cdc31a0d3368c829?family=MrEavesXLModNarOT-Heavy);

@font-face {font-family: "MrEavesXLModNarOT-Heavy"; src: url("//db.onlinewebfonts.com/t/794e572cce05ab25cdc31a0d3368c829.eot"); src: url("//db.onlinewebfonts.com/t/794e572cce05ab25cdc31a0d3368c829.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/794e572cce05ab25cdc31a0d3368c829.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/794e572cce05ab25cdc31a0d3368c829.woff") format("woff"), url("//db.onlinewebfonts.com/t/794e572cce05ab25cdc31a0d3368c829.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/794e572cce05ab25cdc31a0d3368c829.svg#MrEavesXLModNarOT-Heavy") format("svg"); }


body{
    margin: 0px 0px;
    padding: 0px 0px;
    box-sizing: border-box;
    
}


.container {
    background-color: #005BF2;
    width: 350px;
    height: 208px;
    top: 120px;
    left: 545px;
    padding: 6px 4px;
    border-radius: 5px;
    margin:50px auto;
}

.upper_options{
    height: 10%;
    width: 345px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    background-color: #005BF2;
    color: white;
    padding-bottom: 4px;
}

.lower_options{
    width: 100%;
    height: 89%;
    background-color: #ECE9D8;
}

.modal_btn {
    width: 45px;
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.title-bar-controls button{
    min-height: 20px;
}

.navigation_btn{
    width: 20px;
    border: 1px solid white;
    height: 18px;
    border-radius: 2px;
}

#help_btn{
    background-color: #497BF6;

}

#close_btn {
    background-color: #E45E3A;
}
#modal_name{
    font-family:  "MrEavesXLModNarOT";
    font-size: bold;
    font-size: 15px;
}
.wrapper_left {
    height: 165px;
    padding: 5px 5px;
    width: 255px;
}

.heading_txt_area{
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.txt_area{
    width: 100%;
    height: 125px;
}

.close_btn_txt_area{
    float: right;
}

.field-row-stacked {
    display: flex;
    flex-direction: row;
    width: 100%;

}
.wrapper_right{
    height: 165px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    width: 85px;
    justify-content: space-between;
    align-items: center;
}
.left_btn{
    width: 30px;
}

.upr_lft_btn {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#text21{
    width: 100%;
    height: 125px;
}

.close_btn_txt_area{
    border: 1px solid #80c2ff;
    border-radius: 1px;
}

.underLnBtn{
    text-decoration: underline;
}
